*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(128,128,128);
}
 .pdfview{
    margin: auto;
    display: block;
    width: 850px;
    height: 100vh;
 }